@font-face { font-family: Ubuntu; src: url(/assets/Ubuntu-Regular.ttf); }
@font-face { font-family: Ubuntu; font-style: italic; src: url(/assets/Ubuntu-Italic.ttf); }
@font-face { font-family: Ubuntu; font-weight: bold; src: url(/assets/Ubuntu-Bold.ttf); }
@font-face { font-family: Ubuntu; font-style: italic; font-weight: bold; src: url(/assets/Ubuntu-BoldItalic.ttf); }
@font-face { font-family: UbuntuMono; src: url(/assets/UbuntuMono-Regular.ttf); }
html { background-color: #ebebeb; color: #000505; font-family: Ubuntu, sans-serif; }

body { margin: 0; padding: 0; }

a { color: #5b5d81; text-decoration-color: #5b5d81; transition: 0.3s all ease; }
a:hover { color: #000505; }

.site-width { margin: 0 auto; max-width: 1180px; width: 90%; }

.page-content { margin: 0 auto; max-width: 780px; width: 80%; }

header { background-color: #272e6f; border-color: #ffc55c; border-style: solid; border-width: .5rem 0 0 0; margin-bottom: 6rem; padding: 2rem 2rem 1rem 2rem; }

.site-header { align-items: center; display: flex; flex-direction: row; justify-content: stretch; width: 100%; }
.site-header div.logo { flex-grow: 1; }
.site-header div.logo img { max-width: 120px; }
.site-header nav ul { list-style-type: none; margin: 0; padding: 0; }
.site-header nav ul li { display: inline-block; font-size: 1.5rem; font-weight: bold; }
.site-header nav ul li + li { margin-left: 1rem; }
.site-header nav ul li a { color: #ebebeb; text-decoration-color: transparent; transition: 0.3s all ease; }
.site-header nav ul li a:hover { color: #ffc55c; text-decoration-color: #ffc55c; }

.site-footer { box-sizing: border-box; border-color: #c2c3d4; border-style: solid; border-width: 2px 0 0 0; margin-top: 8rem; padding: 2rem 3%; }
.site-footer ul.links { list-style-type: none; margin: 0 0 2rem 0; padding: 0; }
.site-footer ul.links li { display: inline-block; }
.site-footer ul.links li + li { margin-left: 1rem; }
.site-footer ul.links li a { color: #272e6f; font-size: 1.5rem; font-weight: bold; text-decoration-color: transparent; transition: 0.3s all ease; }
.site-footer ul.links li a:hover { color: #000505; text-decoration-color: #ffc55c; }
.site-footer p { font-family: UbuntuMono; font-size: .8rem; line-height: 140%; max-width: 600px; }

.homepage-frontmatter { margin-top: 3rem; margin-bottom: 6rem; }
.homepage-frontmatter img.logo { display: block; margin: 3rem auto; max-width: 220px; width: 100%; }
.homepage-frontmatter p { font-size: 1.2rem; line-height: 165%; }
.homepage-frontmatter hr { border-color: #c2c3d4; border-style: dotted; border-width: 0 0 4px 0; margin: 2rem auto; width: 10%; }

h1.list-of-lists-header { background-color: #c2c3d4; color: #5b5d81; font-family: UbuntuMono; font-size: 1rem; margin-top: 3rem; padding: .5rem; }

.list-of-lists { list-style-type: none; margin: 1.5rem 0 6rem 0; padding: 0; }
.list-of-lists li { border-color: #c2c3d4; border-style: solid; border-width: 0 0 1px 0; padding: 1rem .5rem; }
.list-of-lists li:last-of-type { border-width: 0; }
.list-of-lists li span.title { display: block; font-size: 1.5rem; }
.list-of-lists li span.title a { color: #000505; font-weight: bold; text-decoration-color: transparent; transition: 0.3s all ease; }
.list-of-lists li span.title a:hover { color: #272e6f; text-decoration-color: #ffc55c; }
.list-of-lists li span.details { color: #5b5d81; display: block; font-size: .9rem; margin-top: .25rem; }

.link-block .header { background-color: #c2c3d4; color: #5b5d81; font-family: UbuntuMono; font-size: 1rem; line-height: 100%; padding: .5rem 1.5rem; text-align: center; text-transform: uppercase; }
.link-block .links { list-style-type: none; margin: 1rem auto; padding: 0; text-align: center; }
.link-block .links li { display: inline-block; margin-bottom: .5rem; padding: .25rem; }
.link-block .links li a { color: #000505; text-decoration-color: transparent; transition: 0.3s all ease; }
.link-block .links li a:hover { color: #272e6f; text-decoration-color: #ffc55c; }

.post-meta .title { margin-bottom: 0; }
.post-meta .byline { margin-top: 0; }
.post-meta .dateline { font-family: UbuntuMono; font-size: .8rem; margin: 0; }
.post-meta .categories { font-family: UbuntuMono; font-size: .8rem; list-style-type: none; margin: 0; padding: 0; }
.post-meta .categories li { display: inline-block; margin: .2em; }
.post-meta .categories li:first-of-type { margin-left: 0; }
.post-meta .categories li:last-of-type { margin-right: 0; }

.list-content { padding-top: 3rem; padding-bottom: 6rem; }
.list-content p { font-size: 1.1rem; line-height: 165%; }
.list-content hr { border-color: #c2c3d4; border-style: dotted; border-width: 4px 0 0 0; margin: 4rem auto; max-width: 10%; }
.list-content h3 { border-color: #ffc55c; border-style: solid; border-width: 0 0 1px 0; color: #272e6f; font-size: 1.5rem; font-weight: bold; margin-top: 4rem; padding-bottom: .25em; }
.list-content .recommendation { margin: 2rem 0 3rem 0; }
.list-content .recommendation .citation { font-size: 1.2rem; font-weight: bold; line-height: 140%; margin: 0 0 .5rem 0; padding-left: 2rem; text-indent: -2rem; }
.list-content .recommendation .description { font-size: 1rem; margin: .5rem 0 0 0; }
.list-content .recommendation .link { font-family: UbuntuMono; font-size: .8rem; line-height: 100%; margin: .5rem 0 0 0; text-align: right; }

.bio { border-color: #c2c3d4; border-style: solid; border-width: 1px 0; margin: 0 0 6rem 0; padding: 1rem; }
.bio p { font-size: .9rem; line-height: 140%; margin: 0 auto; max-width: 600px; }

h1.blog-landing-header { background-color: #c2c3d4; color: #5b5d81; font-family: UbuntuMono; font-size: 1rem; margin-top: 3rem; padding: .5rem; }

.blog-landing { list-style-type: none; margin: 1.5rem 0 3rem 0; padding: 0; }
.blog-landing li { border-color: #c2c3d4; border-style: solid; border-width: 0 0 1px 0; padding: 1rem .5rem; }
.blog-landing li:last-of-type { border-width: 0; }
.blog-landing li span.title { display: block; font-size: 1.5rem; }
.blog-landing li span.title a { color: #000505; font-weight: bold; text-decoration-color: transparent; transition: 0.3s all ease; }
.blog-landing li span.title a:hover { color: #272e6f; text-decoration-color: #ffc55c; }
.blog-landing li span.date { color: #5b5d81; display: block; font-size: .9rem; margin-top: .25rem; }

.blog-back-link { background-color: #c2c3d4; color: #5b5d81; font-family: UbuntuMono; font-size: 1rem; margin-top: 3rem; padding: .5rem; text-decoration: none; transition: 0.3s all ease; }
.blog-back-link:hover { color: #000505; }

.blog-meta .title { margin-bottom: 0; }
.blog-meta .dateline { font-family: UbuntuMono; font-size: .8rem; }

.blog-content { padding-top: 3rem; padding-bottom: 6rem; }
.blog-content p { font-size: 1.1rem; line-height: 165%; }
.blog-content img { display: block; margin: 2rem 0; max-width: 100%; }
.blog-content h3 { margin-top: 3rem; }
.blog-content h3 a { color: #000505; text-decoration-color: #5b5d81; transition: 0.3s all ease; }
.blog-content h3 a:hover { color: #272e6f; text-decoration-color: #ffc55c; }
.blog-content hr { border-color: #c2c3d4; border-style: dotted; border-width: 0 0 4px 0; margin: 3rem auto; width: 10%; }

.longtext-title { background-color: #c2c3d4; color: #5b5d81; font-family: UbuntuMono; font-size: 1rem; margin: 3rem 0; padding: .5rem; }

.longtext-content p { font-size: 1.2rem; line-height: 165%; }

@media all and (max-width: 460px) { .site-header { display: block; }
  .site-header nav ul { margin-top: .5rem; }
  .site-header nav ul li { font-size: 1.2rem; } }

/*# sourceMappingURL=main.css.map */
