@mixin serif-font-stack {
  font-family: "ff-meta-serif-web-pro", Georgia, serif;
  font-size: 500;
}

@mixin sans-serif-font-stack {
  font-family: "ff-meta-web-pro-condensed", sans-serif;
  font-size: 400;
}

$pageColor: #ffffc3;
$textColor: #131638;
$accentColor: #272e6f;
$highlightColor: #ffc55c;
$highlightColor2: #e95d35;

body {
  @include serif-font-stack;

  background-color: $accentColor;
  border: {
    color: $highlightColor;
    style: solid;
    width: 6px 0 0 0;
  }
  color: $textColor;
  font-size: 16px;
}

// Type

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include sans-serif-font-stack;
}

strong {
  font-weight: 700;
}

.backlist {

  font: {
    style: normal;
    weight: 700;
  }
  letter-spacing: .0125em;
}

// Additional Resets

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// Layout

.color-band {
  margin: 0 auto;
  width: 100%;

  &.white {
    background-color: $pageColor;
  }

  &.blue {
    background-color: $accentColor;
    color: $pageColor;

    a {
      color: $pageColor;
    }
  }
}

.main-column {
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  width: 80%;
}

// Sitewide

.footer {
  border: {
    color: $highlightColor2;
    style: solid;
    width: 6px 0 0 0;
  }

  p.follow {
    font: {
      size: 1.5em; // 24px
      style: italic;
    }
    margin: 1em 0; // 24px
    text-align: center;

    a {
      font-style: normal;
      font-weight: 700;
    }
  }
}

// Homepage

.splash {
  padding: 10% 0;
  text-align: center;
  width: 100%;

  h1.title {
    font-size: 6em; // 96px
    text-align: center;

    img {
      max-width: 540px;
      width: 100%;
    }
  }

  p.define {
    font: {
      size: 2em; // 32px
    }
    margin: 1em auto; // 32px
    line-height: 125%;
    max-width: 640px;
  }
}

.mailing-list {
  @include sans-serif-font-stack;

  border: {
    color: $highlightColor;
    radius: 1em;
    style: solid;
    width: 2px;
  }
  margin: 10% auto 0 auto;
  max-width: 840px;
  padding: 1em 0;
  width: 100%;

  h3 {
    color: $highlightColor2;
    font: {
      size: 2em; // 32px
      weight: 700;
    }
    margin: .25em auto 1em auto;
  }

  .mc-field-group {
    margin: 1em auto;

    label {
      display: inline-block;
      font: {
        size: 1.25em; // 20px
        weight: 700;
      }
      margin-right: 1em;
      text-align: right;
      width: 15%;

      &.email {
        color: $accentColor;
      }
    }

    input[type="text"], input[type="email"] {
      @include sans-serif-font-stack;

      background-color: $pageColor;
      border: {
        color: $textColor;
        style: dotted;
        width: 1px;
      }
      font: {
        size: 1.25em; // 20px
        weight: 700;
      }
      padding: .25em .5em;
      width: 70%;
    }

    input[type="email"] {
      border-color: $accentColor;
      color: $accentColor;
    }
  }

  .buttons-row {
    padding-top: 4px;

    input[type="submit"] {
      @include sans-serif-font-stack;

      background-color: $highlightColor2;
      border: {
        color: $highlightColor2;
        radius: 1em;
        style: solid;
        width: 2px;
      }
      color: $pageColor;
      font: {
        size: 1.25em; // 20px
        weight: 700;
      }
      padding: .125em 1em;

      &:hover {
        background-color: $highlightColor;
        color: $highlightColor2;
      }
    }
  }
}